/*Header*/
.main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header .photo{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

header .tittle{
    font-family: "Neue Machina", sans-serif;
    text-align: center;
}