.background{
    position: relative;
    display: flex;
    justify-content: center;
    height: 98vh;
}

.main{
    position: absolute;

    margin: 1rem;
    padding: 1rem;

    border: 1px solid white;
    border-radius: 28px;
    background-color: rgba(0, 0, 0, 0.856);

}

/*Header*/
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

header::after{
    position: absolute;
    top: 1rem;
    right: 1rem;

    content: '';
    display: inline-block;
    width: 3rem;
    height: 3rem;

    background-image: url(/assets/img/icons/tresPontos.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

header .photo{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

header .title{
    text-align: center;
    font-size: 1.8rem;
}

.information{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.information p{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
    margin: .5rem;
    font-size: 1rem;
}

.information p::before{
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url(/assets/img/icons/person_24dp_FILL0_wght400_GRAD0_opsz24.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.information .job::before{
    background-image: url(/assets/img/icons/person_24dp_FILL0_wght400_GRAD0_opsz24.svg);
}

.information .phone::before{
    background-image: url(/assets/img/icons/call_24dp_FILL0_wght400_GRAD0_opsz24.svg);
}

.information .email::before{
    background-image: url(/assets/img/icons/mail_24dp_FILL0_wght400_GRAD0_opsz24.svg);
}

.information .location::before{
    background-image: url(/assets/img/icons/location_on_24dp_FILL0_wght400_GRAD0_opsz24.svg);
}

@media only screen and (min-width: 768px){
    .main{
        width: 97%;
        max-width: 900px;
    }

    header{
        flex-direction: row;
        display: grid;
        grid-template-areas: 
            "photo title"
            "photo information"
        ;
    }

    header .photo{
        grid-area: photo;
        margin: 0 auto;
    }

    header .title{
        grid-area: title;
        text-align: start;
        max-width: 220px;
    }

    header .information{
        grid-area: information;
    }
}